
.venv/
.venv1/
__pycache__/
*.pyc
*.pyo


jobs/scala/**/target/
jobs/scala/**/.bsp/
jobs/scala/**/project/target/

!jobs/scala/**/project/build.properties
!jobs/scala/**/project/plugins.sbt

.idea/
.vscode/

.DS_Store

*.log

.env
